
body { background: #ffffff; margin: 0; font-family: Arial; font-size: 8pt; font-style: normal; }
table table {
    border:1px solid black;
}
tr.R0{ height: 15px; }
tr.R0 td.R0C1{ text-align: center; vertical-align: middle; }
tr.R0 td.R10C1{ font-family: Arial; font-size: 8pt; font-style: normal; vertical-align: middle; border-left: #000000 1px solid; border-top: #ffffff 0px none; border-bottom: #000000 1px solid; }
tr.R0 td.R12C1{ font-family: Arial; font-size: 14pt; font-style: normal; font-weight: bold; vertical-align: middle; }
tr.R0 td.R21C1{ text-align: center; vertical-align: top; overflow: hidden;border-left: #000000 2px solid; border-top: #000000 1px solid; }
tr.R0 td.R21C2{ vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; }
tr.R0 td.R21C3{ text-align: right; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; }
tr.R0 td.R21C4{ vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; }
tr.R0 td.R21C6{ text-align: right; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; border-right: #000000 2px solid; }
tr.R0 td.R5C19{ font-family: Arial; font-size: 9pt; font-style: normal; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; border-bottom: #000000 1px solid; border-right: #000000 1px solid; }
tr.R0 td.R5C22{ font-family: Arial; font-size: 9pt; font-style: normal; vertical-align: top; border-left: #000000 1px solid; border-top: #ffffff 0px none; border-bottom: #000000 1px solid; border-right: #000000 1px solid; }
tr.R0 td.R6C1{ border-left: #000000 1px solid; border-bottom: #000000 1px solid; border-right: #000000 1px solid; }
tr.R0 td.R8C1{ font-family: Arial; font-size: 9pt; font-style: normal; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; }
tr.R14{ height: 9px; }
tr.R14 td.R14C1{ border-bottom: #000000 2px solid; }
tr.R14 td.R22C1{ border-top: #000000 2px solid; }
tr.R16{ height: 33px; }
tr.R16 td.R16C1{ font-family: Arial; font-size: 9pt; font-style: normal; vertical-align: top; }
tr.R16 td.R16C5{ font-family: Arial; font-size: 9pt; font-style: normal; font-weight: bold; vertical-align: top; }
tr.R4{ height: 17px; }
tr.R4 td.R20C1{ font-family: Arial; font-size: 9pt; font-style: normal; font-weight: bold; text-align: center; vertical-align: middle; border-left: #000000 2px solid; border-top: #000000 2px solid; }
tr.R4 td.R20C2{ font-family: Arial; font-size: 9pt; font-style: normal; font-weight: bold; text-align: center; vertical-align: middle; border-left: #000000 1px solid; border-top: #000000 2px solid; }
tr.R4 td.R20C6{ font-family: Arial; font-size: 9pt; font-style: normal; font-weight: bold; text-align: center; vertical-align: middle; border-left: #000000 1px solid; border-top: #000000 2px solid; border-right: #000000 2px solid; }
tr.R4 td.R23C5{ font-family: Arial; font-size: 9pt; font-style: normal; font-weight: bold; text-align: right; vertical-align: top; }
tr.R4 td.R26C1{ font-family: Arial; font-size: 9pt; font-style: normal; }
tr.R4 td.R27C1{ font-family: Arial; font-size: 9pt; font-style: normal; font-weight: bold; vertical-align: top; }
tr.R4 td.R30C1{ font-family: Arial; font-size: 9pt; font-style: normal; font-weight: bold; }
tr.R4 td.R30C10{ text-align: right; border-bottom: #000000 1px solid; }
tr.R4 td.R30C6{ border-bottom: #000000 1px solid; }
tr.R4 td.R4C1{ font-family: Arial; font-size: 9pt; font-style: normal; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; border-right: #000000 1px solid; }
tr.R4 td.R4C19{ font-family: Arial; font-size: 9pt; font-style: normal; vertical-align: middle; border-left: #000000 1px solid; border-top: #000000 1px solid; border-bottom: #000000 1px solid; border-right: #000000 1px solid; }
tr.R4 td.R4C22{ font-family: Arial; font-size: 9pt; font-style: normal; vertical-align: middle; border-left: #000000 1px solid; border-top: #000000 1px solid; border-bottom: #ffffff 0px none; border-right: #000000 1px solid; }
tr.R4 td.R7C1{ font-family: Arial; font-size: 9pt; font-style: normal; vertical-align: middle; border-left: #000000 1px solid; border-top: #000000 1px solid; }
tr.R4 td.R7C19{ font-family: Arial; font-size: 9pt; font-style: normal; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; border-bottom: #000000 1px solid; border-right: #000000 1px solid; }
tr.R4 td.R7C3{ font-family: Arial; font-size: 9pt; font-style: normal; vertical-align: middle; border-top: #000000 1px solid; border-right: #000000 1px solid; }
table {table-layout: fixed; padding: 0px; padding-left: 2px; vertical-align:bottom; border-collapse:collapse;width: 100%; font-family: Arial; font-size: 8pt; font-style: normal; }
td { padding: 0px; padding-left: 2px; overflow:hidden; }