/*.group-color {*/
    /*background-color:#d9edf7;*/
/*}*/
/*.list-group-item {*/
    /*padding: 0px;*/
/*}*/
/*.table-nonfluid {*/
    /*width: auto !important;*/
/*}*/
/*.carousel,.item,.active{height:100%;}*/
/*.carousel-inner{height:100%;}*/
/*html {*/
    /*overflow-y: auto;*/
/*}*/

/*.z-index {*/
    /*z-index:10000 !important*/
/*}*/

.button-click{
    border: 1px solid yellow;
}

.button-success{
    border: 1px solid green;
}

.button-fail{
    border: 1px solid red;
}